@font-face {
    font-family: 'Pacifico';
    src: url('Fonts/Pacifico.ttf');
}


img.resize{
	width:50px;
	height:auto;
}

body
{
    background-image: url("Pics/icono-maleta.jpg");
	background-repeat: no-repeat;
}
flags{
	
}