@font-face {
    font-family: 'Pacifico';
    src: url('Fonts/Pacifico.ttf');
}


img.resize{
	width:60px;
	height:auto;
}

<!body
{
    background-image: url("Pics/fondo-maleta.jpg");
	background-repeat: no-repeat;
}/>
